<div class="container login-card-placement">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h2 class="text-center text-dark mt-5">Register Hospital</h2>
      <div class="card my-5">
        <form
          [formGroup]="registerForm"
          class="card-body cardbody-color p-lg-5"
        >
          <div class="mb-3">
            <label for="Name">Name </label>
            <input
              type="text"
              class="form-control"
              id="Name"
              formControlName="Name"
            />
          </div>
          <div class="mb-3">
            <label for="City">City </label>
            <input
              type="text"
              class="form-control"
              id="City"
              formControlName="City"
            />
          </div>
          <div class="mb-3">
            <label for="Email">Email </label>
            <input
              type="email"
              class="form-control"
              id="Email"
              formControlName="Email"
            />
          </div>
          <label for="Password">Password </label>
          <div class="mb-3">
            <input
              type="password"
              class="form-control"
              id="Password"
              placeholder="Password"
              formControlName="Password"
            />
          </div>
          <div *ngIf="!passwordsMatch" class="text-error">
            Passwords do not match
          </div>
          <label for="ConfirmPassword">Confirm Password </label>
          <div class="mb-3">
            <input
              type="password"
              class="form-control"
              id="ConfirmPassword"
              placeholder="Confirm Password"
              formControlName="ConfirmPassword"
            />
          </div>
        </form>
        <div class="text-center">
          <button class="btn btn-color px-5 mb-5 w-100" (click)="onRegister()">
            Register
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
