.stat-container {
  margin-left: 100px;
}
.stat-container-card {
  height: 45vh;
  margin: 15px;

  display: flex;
  align-items: center;
}

.card-content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
