<form [formGroup]="postForm" class="w-50">
  <div class="col-md-6">
    <label for="Name">Name: </label>
    <input id="Name" type="text" formControlName="Name" class="form-control" />
  </div>

  <div class="col-md-6">
    <label for="Division">Division: </label>
    <input
      id="Division"
      type="text"
      formControlName="Division"
      class="form-control"
    />
  </div>

  <div class="col-md-6">
    <label for="BloodGroup">Blood Group: </label>
    <select id="BloodGroup" formControlName="BloodGroup" class="form-control">
      <option [ngValue]="'A+'">A+</option>
      <option [ngValue]="'A-'">A-</option>
      <option [ngValue]="'AB+'">AB+</option>
    </select>
  </div>

  <div class="col-md-6">
    <label for="Date">Date: </label>
    <input id="Date" type="date" formControlName="Date" class="form-control" />
  </div>

  <div class="col-md-6">
    <label for="Time">Time: </label>
    <input id="Time" type="time" formControlName="Time" class="form-control" />
  </div>

  <div class="col-md-6">
    <label for="Address">Address: </label>
    <input
      id="Address"
      type="text"
      formControlName="Address"
      class="form-control"
    />
  </div>

  <div class="col-md-6">
    <label for="Contact">Contact: </label>
    <input
      id="Contact"
      type="text"
      formControlName="Contact"
      class="form-control"
    />
  </div>

  <div class="col-md-6 btn-placement">
    <button
      [disabled]="!saveBtnEnabled()"
      (click)="onSave()"
      class="btn btn-primary save-btn-mt"
    >
      Save
    </button>
  </div>
</form>
